@charset "utf-8";

// Set your brand colors
$purple: #8a4d76;
$blue: #003f99;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Almarai", sans-serif;
$family-secondary: "Lora", serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
// $link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "~bulma/bulma.sass";

// Custom sass extensions

.navbar {
    &.is-transparent {
      background-color: transparent;
      background-image: none;
    }
  }
  
  .title {
    word-break: normal;
  }
  
  // partials
  
  @import "./index.scss";
  @import "./ranks.scss";
  @import "./calendar.scss";
  @import "./map.scss";
  